<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/img/ico/favicon.ico">

    <title>Login | {{ system.sitename }}</title>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/css/drafterbit-bootstrap.css" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>

  <body class="dt-login">
    <div class="container">
        <div class="panel panel-default dt-form-login-panel">
            <div class="panel-body">
                <h1 class="title">App Name</h1>
                <form action="login" method="post" role="form" class="form-login" id="loginForm">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                        <input type="text" id="email" name="_email" value="{{ last_username }}" required="required" placeholder="Email" class="form-control input-sm"/>

                        <input type="password" id="password" name="_password" required="required" placeholder="Password" class="form-control input-sm"/>

              {# PENDNG
                        <div class="checkbox" style="display:inline-block;">
                            <label for="remember_me">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            {{ 'security.login.remember_me'|trans({}, 'UserBundle') }}
                            </label>
                        </div>
              #}

                        <input type="submit" id="_submit" name="_submit" value="submit" class="btn btn-primary form-control" />
                 </form>
            </div>
        </div>
        <div class="copyright dt-brand">
            <p>drafterbit &copy; 2016</p>
        </div>
    </div> <!-- /container -->

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"> </script>
    <script type="text/javascript" src="bower_components/jquery-form/jquery.form.js"> </script>
    <script type="text/javascript">
        (function($){
            $(loginForm).ajaxForm({
                success:function(res) {
                    console.log(res);
                    Cookies.set('jwtToken', res);
                }
            });

        })(jQuery);
    </script>
  </body>
</html>
