
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Youtube Playlist Barengan</title>
    <link rel="stylesheet" href="/bower_components/material-design-lite/material.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Three Line List with secondary info and action -->
    <style>
    .track-list {
      width: 650px;
      margin: auto;
    }
    </style>
  </head>
  <body>

    <div style="background: #333; text-align: center;">
      <div id="o-player"></div>
    </div>
    <div id="tracks-container"></div>

    <script type="text/javascript" src="/bower_components/material-design-lite/material.min.js"></script>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/navigo/lib/navigo.min.js"> </script>
    <script type="text/javascript" src="/bower_components/nunjucks/browser/nunjucks.min.js"> </script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script> var socket = new io(); </script>
    <script type="text/javascript" src="/js/player.js"></script>
  </body>
</html>
