<!DOCTYPE html>
<html>
  <head>
    <title>Playlists</title>
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/bower_components/jquery-ui/themes/ui-lightness/jquery-ui.min.css" />


    <style>
      .playing {
        background-color: #555;
        color: #fff;
      }

      .playing a {
        text-decoration: none;
        color: #fff;
      }

      .ui-state-highlight { height: 3.5em; line-height: 1.2em; border: #333 1px dashed; }
      
    </style>

  </head>
  <body>
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
             Realtime Shared Youtube Playlist
          </a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
          <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
              {% for pl in playlists %}
                <li><a class="playlist-item" data-plid="{{ pl.id }}" href="/playlist/{{ pl.id }}">{{ pl.name }}</a></li>
              {% endfor %}
              <li><a  data-toggle="modal" data-target="#add_playlist_modal" href="javascript:;" id="add_playlist">Tambah Playlist</a></li>
            </ul>
          </div>

          <div class="col-md-9">

            {% include 'tracklist.html' %}

          </div>
        </div>
      </div>


      <div id="add_playlist_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <form method="POST" id="add_playlist_form">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Playlist</h4>
              </div>
              <div class="modal-body">
                  <label>Playlist Name (without space)</label>
                  <input type="text" class="form-control" name="playlist_name">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script> var socket = new io(); </script>
    <script src="/playlist_event_handler.js"> </script>
    <script>
      PLAYLIST_EVENT_HANDLER.init('{{ api_key }}', {{ playlist_id }}, {{ playlist_id !=1 }});

    </script>
  </body>
</html>
