
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Youtube Playlist Barengan</title>
    <link rel="stylesheet" href="/bower_components/material-design-lite/material.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <!-- No header, and the drawer stays open on larger screens (fixed drawer). -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Playlists</span>
        <nav class="mdl-navigation" id="playlistNav"> </nav>
        <form id="add-playlist-form" style="margin:0 10px 0 30px;">
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="playlist-name" name="playlist-name">
            <label class="mdl-textfield__label" for="playlist-name">Add Playlist</label>
          </div>
        </form>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="content-container">
          <div id="react-form-container">

          </div>
          <div class="">
            <a class="playlist-delete" href="javascript:;" data-track-id="{{ t.id }}">Delete this playlist</a>
          </div>
          <div id="search-result"><ul class="mdl-list" id="video-list" style="border:none;">  </ul></div>
          <div id="tracks-container"></div>
        </div>
        </div>
      </main>
    </div>

    <script type="text/javascript" src="/bower_components/material-design-lite/material.min.js"></script>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/navigo/lib/navigo.min.js"> </script>
    <script type="text/javascript" src="/bower_components/nunjucks/browser/nunjucks.min.js"> </script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script> var socket = new io(); </script>
    <script type="text/javascript" src="/js/routes.js"> </script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript">
    App.init(nunjucks, ROUTE_CONFIG, socket);
    </script>
    <script type="text/javascript" src="/bower_components/react/react.js"> </script>
    <script type="text/javascript" src="/bower_components/react/react-dom.js"> </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.18.1/babel.min.js"> </script>
    <script type="text/babel" src="/js/components.js"></script>
    <script type="text/javascript">
      $(function(){
        Component.init("{{ youtubeApiKey }}")
      });
    </script>
  </body>
</html>
