<!DOCTYPE html>
<html>
  <head>
    <title>Playlists</title>
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  </head>
  <body>
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
             Realtime Shared Youtube Playlist
          </a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
          <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
              {% for pl in playlists %}
                <li><a href="/player/{{ pl.name }}">{{ pl.name }}</a></li>
              {% endfor %}
              <li><a  data-toggle="modal" data-target="#add_playlist_modal" href="javascript:;" id="add_playlist">Tambah Playlist</a></li>
            </ul>
          </div>

          <div class="col-md-9">
            <div style="background: #333; text-align: center;">
              <div id="player"></div>
            </div>
            <div style="margin: 10px 0;">
              <form id="add_track_form" class="form-inline">
                <label class="sr-only">Add Youtube URL</label>
                <div class="form-group">
                  <input placeholder="Youtube URL" class="form-control" id="yt_url" type="text" style="width:540px;">
                  <button class="btn btn-primary">Add</button>
                </div>
              </form>
            </div>
            <div style="margin: 10px 0;">
              <ol id="playlist" class="media-list">
                {% for t in tracks %}
                <li class="media">
                  <div class="media-left">
                    <a href="#">
                      <img height="40px"  class="media-object" src="{{ t.thumbnail_url }}">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><a class="track" data-id="{{ t.video_id }}" href="javascript:;">{{ t.title }}</a></h4>
                     <button class="btn btn-xs btn-default delete-track" data-pltrack-id="{{ t.pltrackid }}" >Delete</button>
                  </div>
                </li>
                {% endfor %}
              </ol>
            </div>

          </div>
        </div>
      </div>


      <div id="add_playlist_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <form method="POST" id="add_playlist_form">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Playlist</h4>
              </div>
              <div class="modal-body">
                  <label>Playlist Name (without space)</label>
                  <input type="text" class="form-control" name="playlist_name">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
    var socket = io();

    $(document).on("click", '.delete-track', function(e){
      var pltrackid = $(this).data("pltrack-id");
      socket.emit("delete-track", pltrackid);
    });

     // listen add playlists
     $(add_playlist_form).on("submit", function(e) {
       e.preventDefault();
        var plname = add_playlist_form.playlist_name.value;
        socket.emit("new-playlist", plname);
      });

      socket.on('new-playlist', function(plname) {
          window.location.reload(true);
      });

      socket.on('delete-track', function(plname) {
          window.location.reload(true);
      });

      socket.on('yttrack.played', function(video_id){
        player.loadVideoById(video_id);
        player.playVideo();
      });

      socket.on('ytplaylist.updated', function(video, plid) {
          $(playlist).prepend('<li><a class="track" data-id="'+video.id+'" href="javascript:;"><img height="40px"  src="'+video.snippet.thumbnails.medium.url+'">'+video.snippet.title+'</a></li>');
      });

      // 2. This code loads the IFrame Player API code asynchronously.
      $(add_track_form).on('submit', function(e) {
        e.preventDefault();
        var url = $(yt_url).val();
        var video_id = get_vid(url);

        $.getJSON("https://www.googleapis.com/youtube/v3/videos?part=snippet&id="+video_id+"&key={{ api_key }}",
        function(data){
          socket.emit('ytplaylist.updated', data.items[0], {{ playlist_id }});
        });
      });

      $(document).on('click', 'a.track', function(e) {
        e.preventDefault();
        var video_id = $(this).data('id');
        socket.emit('yttrack.played', video_id);
      });

      function get_vid(url) {
        var regExp = /^.*(youtu\.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
        var match = url.match(regExp);
        if (match && match[2].length == 11) {
          return match[2];
        } else {
          //error
        }
      }

      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: '',
          events: {
            //'onReady': onPlayerReady,
            //'onStateChange': onPlayerStateChange
          }
        });
      }

    </script>
  </body>
</html>
